@import "../../assets/variables";

.nav {
  position: fixed;
  z-index: 100;
  width: 100vw;
  min-height: 75px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid $primary-color;
  .icon {
    color: $primary-color;
    font-size: 32px;
    margin: 0 15px;

    &.icon-profile {
      font-size: 30px;
    }

    &.icon-home {
      font-size: 35px;
    }

    &:hover {
      color: $active-color-alt;
    }
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 75px;

    .logout-btn,
    .login-btn {
      cursor: pointer;
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      width: 62px;
      height: 36px;
    }

    .main-nav__logo-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .main-nav__logo {
        margin-left: 15px;
        width: 80px;
        height: 50px;
        fill: $white;
        stroke: $white;

        g path {
          width: 50px;
          height: 50px;
        }
      }
    }

    .main-nav__login-logout-container {
      min-width: 62px;
      min-height: 36px;
    }

    .main-nav__links {
      display: flex;
      align-items: center;
      margin-right: 15px;
    }
  }
}
