@import "../../assets/variables";

.app {
  margin: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

.hero-video {
  width: 100vw;
  height: 50vh;
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative; /* or absolute or fixed */

  .hero-video__kixs-logo {
    width: 400px;
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    z-index: 101;
  }

  video {
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 60%;
    transform: translate(-50%, -30%); /* % of current element */
  }
}
