@import "../../assets/variables";

.carousel {
  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: 0;
  }
  .carousel__container {
    background-color: $gray;
    div.slick-slider div.slick-track,
    div.slick-slider div.slick-list {
      display: flex;
      align-items: center;
      min-height: 300px;
    }

    .slick-prev,
    .slick-next {
      width: 30px;
      height: 30px;
      z-index: 3;
      opacity: 0.5;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &::before {
        font-size: 30px;
        color: $black;
      }

      &:hover {
        opacity: 1;
        scale: 1.1;
      }
    }

    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 10px;
    }
  }
}

.carousel__title-container {
  .carousel__title {
    font-size: 32px;
    margin: 0;
    padding: 25px;
    text-align: left;

    @media screen and (max-width: 760px) {
      text-align: center;
    }
  }
}
