.video-with-products {
  .carousel {
    .carousel__container {
      .card {
        width: 275px;
        margin: 40px auto;
        justify-content: center;
        padding: 30px;

        .card__link {
          height: 210px;

          .card__image {
            max-width: 225px;
          }

          .card-body {
            text-align: center;
            font-size: 20px;
            margin: 0;
          }
        }
      }
    }
  }
}
