$primary-color: #ffffff;
$secondary-color: #000000;
$light-gray: #ededed;
$gray: #f5f5f5;
$black: #000000;
$white: #ffffff;
$active-color: #d2001a;
$active-color-alt: rgba(255, 255, 255, 0.7);
$font-color: #000000;
