@import "./assets/variables";
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

.app {
  text-align: center;
  background-color: $primary-color;
  min-height: 100vh;
  width: 100vw;
  font-family: "Odibee Sans", "Acme";
  margin-top: 75px;
  letter-spacing: 1px;

  .title {
    color: $secondary-color;
    margin: 0;
    padding: 50px 0;
  }

  .icon {
    color: $secondary-color;
    font-size: 32px;
    margin: 0 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $active-color;
    }
  }
}
